/* 모달창을 화면 중앙. 최상단에 노출 */
.container {
  width: 375px;
  height: 190px;
  position: fixed; /* 변경된 부분 */
  z-index: 5;
  top: 74.25%; /* 모달을 수직 가운데에 위치시키기 위해 변경 */
  left: 49.98%;
  transform: translate(-50%, -50%);

  background-color: #ffffff;
}

.rewrite {
  position: relative;
  width: 375px;
  bottom: 20px;
  left: 1px;
}

.delete {
  position: relative;
  bottom: 25px;
  left: 1px;
  width: 375px;
}

.cancel {
  position: relative;
  bottom: 30px;
  left: 1px;
  width: 375px;
}
